@model ProjetoDotinha2.Models.ViewModels.ShowViewModel
<div class="row gap-3">
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        <div>
            @ViewData["teste"]
        </div>
        <div class="row">
            
            @if (Model?.Player?.profile != null)
            {
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">@Model.Player.profile.personaname</h5>
                        <p class="card-title">@Model.Player.profile.name</p>
                        <p class="card-title">@Model.Player.profile.account_id</p>
                        <p class="card-title">@Model.Player.profile.last_login</p>
                        <img src="@Model.Player.profile.avatar" />
                        <img src="@Model.Player.profile.avatarfull" />
                        
                    </div>  
                </div>
               
                <div class="row">
                    @foreach (var match in Model.Player.RecentMatches)
                    {
                        <div class="card " id="@match.match_id">
                            <div class="card-body d-flex justify-content-between">
                                @{
                                    string url = "https://cdn.akamai.steamstatic.com" + match.hero_image;
                                }
                                <div>
                                    <div>
                                         <img src="@url" alt="Imagem do Herói" style="width: 9rem; height: 9rem; border-radius: 50%;"/>
                                    </div>
                                   
                                    <div>
                                        <strong class="font-weight-bold">@match.hero_name</strong>
                                    </div>
                                    
                                </div>
                                <div>
                                    <p>Horário de inicio da partida: @DateTimeOffset.FromUnixTimeSeconds(match.start_time).DateTime</p>
                                    <p>Duração: @(match.duration / 60):@(match.duration % 60)</p                                   
                                    <span>@match.kills/@match.deaths/@match.assists</span>
                                    <p class="@(match.radiant_win == (match.player_slot <= 127) ? "player-wins" : "player-loses")">
                                        @(match.radiant_win == (match.player_slot <= 127) ? "Vitória" : "Derrota")
                                    </p>
                                    @foreach (var gameMode in @Model.TipoPartidas)
                                    {
                                                                       
                                        <p>@gameMode.GetEnumDescription()</p>
                                    
                                    }
                                    <p class="card-title"></p>
                                </div>   
                                <div>

                                </div>

                            </div>
                            
                        </div>
                    }

                </div>
               
                
            } else
            {
                <p>@ViewData["notfound"]</p>
            }
            
        </div>
    </div>
</div>
  