@using ProjetoDotinha2.Enums

@model ProjetoDotinha2.Models.ViewModels.ShowViewModel

<div class="row gap-3">
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        <div>
            @ViewData["teste"]
        </div>
        <div class="row">
            
            @if (Model?.Player?.profile != null)
            {
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">@Model.Player.profile.personaname</h5>
                        <p class="card-title">@Model.Player.profile.name</p>
                        <p class="card-title">@Model.Player.profile.account_id</p>
                        <p class="card-title">@Model.Player.profile.last_login</p>
                        <img src="@Model.Player.profile.avatar" />
                        <img src="@Model.Player.profile.avatarfull" />
                        
                    </div>  
                </div>
               
                <div class="row">
                    @foreach (var match in Model.Player.RecentMatches)
                    {
                        <div id="accordion-collapse @match.match_id" data-accordion="collapse" >
                            <h2 id="accordion-collapse-heading-1">
                                <button type="button" class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-b-0 border-gray-200 rounded-t-xl focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3" data-accordion-target="#accordion-collapse-body-1" aria-expanded="true" aria-controls="accordion-collapse-body-1">
                                    @{
                                        string url = "https://cdn.akamai.steamstatic.com" + match.hero_image;
                                    }
                                    <div>
                                        <div>
                                            <img src="@url" alt="Imagem do Herói" style="width: 9rem; height: 9rem; border-radius: 50%;"/>
                                        </div>
                                   
                                        <div>
                                            <strong class="font-weight-bold">@match.hero_name</strong>
                                        </div>
                                            <div>
                                            <p>Horário de inicio da partida: @DateTimeOffset.FromUnixTimeSeconds(match.start_time).DateTime</p>
                                            <p>Duração: @(match.duration / 60):@(match.duration % 60)</p                                   
                                            <span>@match.kills/@match.deaths/@match.assists</span>
                                            <p class="@(match.radiant_win == (match.player_slot <= 127) ? "player-wins" : "player-loses")">
                                                @(match.radiant_win == (match.player_slot <= 127) ? "Vitória" : "Derrota")
                                            </p>
                                            <p>@Model.TipoPartidas[@match.game_mode].GetEnumDescription()</p>
                                            <p class="card-title"></p>
                                        </div>                          
                                    </div>
                                    <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
                                    </svg>
                                </button>
                            </h2>
                            <div id="accordion-collapse-body-1" class="hidden" aria-labelledby="accordion-collapse-heading-1">
                                <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-900">
                                    <p class="mb-2 text-gray-500 dark:text-gray-400">Flowbite is an open-source library of interactive components built on top of Tailwind CSS including buttons, dropdowns, modals, navbars, and more.</p>
                                    <p class="text-gray-500 dark:text-gray-400">Check out this guide to learn how to <a href="/docs/getting-started/introduction/" class="text-blue-600 dark:text-blue-500 hover:underline">get started</a> and start developing websites even faster with components on top of Tailwind CSS.</p>
                                </div>
                            </div>
                        </div>          
                                            }

                </div>
               
                
            } else
            {
                <p>@ViewData["notfound"]</p>
            }
            
        </div>
    </div>
</div>
 
 
