@model List<HeroModel>

<div class="row gap-3">
    <h1 class="text-center">Heróis de força</h1>
        
    
    @foreach (var hero in Model)
    {     
        if (hero.primary_attr == "str")
        {
            <div class="card-heroes bg-danger" style="width: 18rem;" @hero.Id>
                <div class="card-heroes-inside">
                    @{
                        string url = "https://cdn.akamai.steamstatic.com" + @hero.img;
                    }
                    <img src=@url />
                    <h5 class="font-weight-bold">@hero.localized_name</h5>
                    <p class="card-text font-weight-normal">Ganho de força: @hero.str_gain</p>
                    @if (@hero.attack_type == "Melee")
                    {
                        <p>Corpo a corpo</p>
                    }
                    else
                    {
                        <p>Longa distância</p>
                    }                  
                </div>
            </div>                                        
        }            
    } 

    <h1 class="text-center">Heróis de agilidade</h1>
    @foreach (var hero in Model)
    {
        if (hero.primary_attr == "agi")
        {
            <div class="card-heroes bg-success" style="width: 18rem;" @hero.Id>
                <div class="card-heroes-inside">
                    @{
                        string url = "https://cdn.akamai.steamstatic.com" + @hero.img;
                    }
                    <img src=@url />
                    <h5 class="font-weight-bold">@hero.localized_name</h5>
                    <p class="card-text font-weight-normal">Ganho de força: @hero.str_gain</p>
                    @if (@hero.attack_type == "Melee")
                    {
                        <p>Corpo a corpo</p>
                    }
                    else
                    {
                        <p>Longa distância</p>
                    }
                </div>
            </div>
        }
    }

    <h1 class="text-center">Heróis de inteligência</h1>
    @foreach (var hero in Model)
    {
        if (hero.primary_attr == "int")
        {
            <div class="card-heroes bg-primary" style="width: 18rem;" @hero.Id>
                <div class="card-heroes-inside">
                    @{
                        string url = "https://cdn.akamai.steamstatic.com" + @hero.img;
                    }
                    <img src=@url />
                    <h5 class="font-weight-bold">@hero.localized_name</h5>
                    <p class="card-text font-weight-normal">Ganho de força: @hero.str_gain</p>
                    <p>@hero.primary_attr</p>
                </div>
            </div>
        }
    }
    </br>
    </br>

    <h1 class="text-center">Heróis universais</h1>
    @foreach (var hero in Model)
    {
        if (hero.primary_attr == "all")
        {           
            <div class="card" style="width: 18rem;" @hero.Id>
                <div class="card-body">
                    @{
                        string url = "https://cdn.akamai.steamstatic.com" + @hero.img;
                    }
                    <img src=@url />
                    <h5 class="font-weight-bold">@hero.localized_name</h5>
                    <p class="card-text font-weight-normal">Ganho de força: @hero.str_gain</p>
                    <p>@hero.primary_attr</p>
                </div>
            </div>
        }
    }
</div>