@model List<HeroModel>

<div class="row gap-3 flex-row">
    <h1 class="text-center">Heróis de força</h1>
        
    
    @foreach (var hero in Model)
    {     
        if (hero.primary_attr == "str")
        {
            <div class="card-heroes" @hero.Id>
                <div class="image-container">
                    @{
                        string url = "https://cdn.akamai.steamstatic.com" + @hero.img;
                    }
                    <img src=@url alt="Imagem do Herói" />
                    <h5 class="font-weight-bold">@hero.localized_name</h5>
                </div>
            </div>
                                         
        }            
    } 

    <h1 class="text-center">Heróis de agilidade</h1>
    @foreach (var hero in Model)
    {
        if (hero.primary_attr == "agi")
        {
            <div class="card-heroes" @hero.Id>
                <div class="image-container">
                    @{
                        string url = "https://cdn.akamai.steamstatic.com" + @hero.img;
                    }
                    <img src=@url alt="Imagem do Herói" />
                    <h5 class="font-weight-bold">@hero.localized_name</h5>
                </div>
            </div>

        }
    }

    <h1 class="text-center">Heróis de inteligência</h1>
    @foreach (var hero in Model)
    {
        if (hero.primary_attr == "int")
        {
            <div class="card-heroes" @hero.Id>
                <div class="image-container">
                    @{
                        string url = "https://cdn.akamai.steamstatic.com" + @hero.img;
                    }
                    <img src=@url alt="Imagem do Herói" />
                    <h5 class="font-weight-bold">@hero.localized_name</h5>
                </div>
            </div>

        }
    }
    </br>
    </br>

    @foreach (var hero in Model)
    {
        if (hero.primary_attr == "all")
        {
            <div class="card-heroes" @hero.Id>
                <div class="image-container">
                    @{
                        string url = "https://cdn.akamai.steamstatic.com" + @hero.img;
                    }
                    <img src=@url alt="Imagem do Herói" />
                    <h5 class="font-weight-bold">@hero.localized_name</h5>
                </div>
            </div>

        }
    }
</div>

